<div id="page">
  <tfooter>
  </tfooter>
  <table class="job-applicants">
    <thead>
    <tr>
      <th>Job</th>
      <th>Applicant Name</th>
      <th>Email Address</th>
      <th>Website</th>
      <th>Skills</th>
      <th>Cover Letter Paragraph</th>
    </tr>
    </thead>

    <tbody>

    <% @jobs.each do |job| %>
            <tr>
        <% job.applicants.each do |applicant| %>
              <% if job.applicants.first == applicant %>
                <td rowspan="<%= job.uniq_applicant_skill_count  %>" class="job-name"><%= job.name %></td>
              <% end %>
              <td rowspan="<%= applicant.skills_count %>" class="applicant-name"><%= applicant.name %></td>
              <td rowspan="<%= applicant.skills_count %>"><%= mail_to(applicant.email) %></td>
              <td rowspan="<%= applicant.skills_count %>"><%= link_to(applicant.website, applicant.website, target: '_blank') %></td>
              <td><%= applicant.skills.first.name %></td>
              <td rowspan="<%= applicant.skills_count %>"><%= applicant.cover_letter %>
              </td>
            </tr>
            <% applicant.skills.drop(1).each do |skill| %>
                <tr>
                  <td><%= skill.name %></td>
                </tr>

            <% end %>
        <% end %>
    <% end %>
    </tbody>

    <tbody>
    <tr>
      <td colspan="6"><%= @applicants.count %> Applicants, <%= @uniq_skill_count %> Unique Skills</td>
    </tr>
    </tbody>
  </table>
</div>