<!DOCTYPE html>
<html>
<head>
  <title>Job Applicants Report</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssbase/cssbase-min.css">
  <style type="text/css">
    #page {
      width: 1200px;
      margin: 30px auto;
    }
    .job-applicants {
      width: 100%;
    }
    .job-name {
      text-align: center;
    }
    .applicant-name {
      width: 150px;
    }
  </style>
</head>

  <body>
    <%= yield %>

  </body>
</html>
